@import 'helper';
@import 'login';
@import 'register';

figcaption.figure-caption {
  margin-top: -49px;
  z-index: 10;
  position: relative;
  background-color: rgba(255, 255, 255, 0.78);
  padding: 10px 10px;
  color: #4E4E4E;

  .label {
    margin-left: 5px;
  }
}

.card {
  padding: 10px;
}

.account-page {
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
}